@page "/"

<h1>Hello, Balazor Demo App!</h1>

           <NavLink class="nav-link" href="supplier">
                <span aria-hidden="true"></span> Click here go to supplier selection
            </NavLink>

